<% if @posts.present?%>

    <div class="col-md-8">
      <% @posts.each do |post| %>
          <article>
            <!-- Blog item Start -->
            <div class="blog-item-wrap">
              <!-- Post Format icon Start -->
              <div class="post-format">
                <span><i class="ico-bookmark"></i></span>
              </div><!-- Post Format icon End -->
              <h2 class="blog-title"><a href="<%=user_post_path(@user, post)%>" ><%=post.title %></a></h2>
              <div class="entry-meta">
                <span class="meta-part">
                <i class="ico-calendar-alt-fill"></i>
                <a href="#"> <%=post.created_at %> </a>
              </span>
                <span class="meta-part">
                <i class="ico-comments"></i>
                <a href="#"><%= post.comments.count %></a>
              </span> <span class="meta-part">
              <i class="ico-tag"></i>
              <a href="#">Tech</a></span>
                <span class="meta-part">
                <i class="ico-heart"></i>
                <a href="#">7</a>
              </span>
              </div><!-- Entry Meta End-->

              <!-- Post Content Start -->
              <div class="post-content">
                <%= post.content.html_safe %>
              </div><!-- Post Content End -->
            </div><!-- Blog item End -->
          </article>
      <% end %>

      <div class="blogzzz_pagination">
        <%= will_paginate @posts, :container => false %>
      </div>
    </div>


<% else %>
    <h3>You haven't write any posts.<%= link_to " Start your first post?", new_user_post_path(@user) %></h3>
<% end %>