<div class="jumbotron">
  <div class="container">
        <h1>Welcome to BlogZzz!</h1>
        <p class="lead">
          Sign in to start your own posts!
        </p>
        <div class="row-fluid">
          <div class="span6">
            <%= link_to "Sign In", new_user_session_path, :class => "btn btn-success" %>
            <%= link_to "Sign Up", new_user_registration_path, :class => "btn btn-success" %>
          </div>
        </div>
  </div>
</div>

<% if @posts.present?%>
    <div class="list-group">
      <% @posts.each do |post| %>
          <a class="list-group-item">
            <h4 class="list-group-item-heading"><%= post.title %></h4>
            <span class="list-group-item-text">
              Published: {{ <%= post.created_at.to_time.to_i * 1000 %> | date:'medium'}}
              Author:  <%= post.user.name.to_s %>
            </span>
          </a>
      <% end %>
    </div>
<% end %>