<div>
  <div style="width: 50%;margin: 0 auto;position:relative;background-color:#fff;border:1px solid rgba(0, 0, 0, 0.125);border-radius:0.25rem;min-width:399px;max-width: 499px">
    <div style="text-align: center;font-size: 9px;padding: 0.65rem 0rem;background-color: #3399FF;border-top: 1px solid rgba(0, 0, 0, 0.125);">
      <%=image_tag('blog/profile.jpeg', alt: 'wala-logo', style:"max-height: 3em;vertical-align:middle; float:left;margin-left:20px") %>
      <span style=" vertical-align: middle;font-size: 20px;font-weight: 500;color: #FFFFFF;">订单发货</span>
      <div style=" width:100%;border-bottom: 3px solid #FFFFFF;margin-top:5px"></div>
    </div>
    <div style="padding:1em">

      <table style="border-collapse:separate; border-spacing:5px 20px;font-weight:300;">

        <tr>
          <td colspan="2">
            <b>您好 <%= @user.name %>,</b>
          </td>
        </tr>
        <tr>
          <td colspan="2" style="font-size:16px">
            您的订单：<%= @order.id %> 已经发货。
          </td>
        </tr>
        <tr>
          <td colspan="2" style="border:1px solid #002d6a;">
            订单信息
            <ul style="padding-left:0;margin:0; list-style:none;color:rgb(0, 45, 106);font-weight:400;border-top: 1px solid #002d6a;">
              <li>订单号: <%= @order.id %></li>
              <li>下单日期: <%= @order.created_at.strftime('%Y-%m-%d') %></li>
              <li>发货日期: <%= @order.updated_at.strftime('%Y-%m-%d') %></li>
              <li>快递单号: <%= @order.delivery_track_number %></li>
            </ul>
          </td>
        </tr>

        <tr>
          <td colspan="2" style="font-size:14px">
            预计20天左右到达。
          </td>
        </tr>
      </table>

    </div>
    <div style="text-align:center;font-size:9px;padding:0.75rem 1.25rem;background-color:#f7f7f9;border-top:1px solid rgba(0, 0, 0, 0.125);">
      This email was sent to <%= @user.email %> by Alexandria © <%= Date.today.year %>.
    </div>
  </div>
</div>