<div class="col-md-8">
  <ol class="breadcrumb">
    <li><a href="../">Archive</a></li>
    <li class="active"><%= @year%></li>
  </ol>
</div>

<div class="col-md-8">
  <ul class="archivee">
    <% @posts_by_current_year.each do |post|%>
        <li>
          <a href="/<%= @user.slug %>/archive/<%= post.year %>/<%= post.month %>">
            <i class="ico-keyboard_arrow_right"></i>
            <%= post.month %>(<%= post.posts %>)
          </a>
        </li>
    <% end %>
  </ul>
</div>

