<ul class="pager col-md-12">
  <li class="next">
    <a href="<%= new_user_post_path(@user)%>" class="defualt-btn"><i class="ico-circle-plus"></i> New Post</a>
  </li>
</ul>

<% if @posts.present?%>

    <div class="col-md-8">
      <% @posts.each do |post| %>
          <article>
            <!-- Blog item Start -->
            <div class="blog-item-wrap">
              <!-- Post Format icon Start -->
              <div class="post-format">
                <span><i class="ico-bookmark"></i></span>
              </div><!-- Post Format icon End -->
              <h2 class="blog-title"><a href="<%=user_post_path(@user, post)%>" ><%=post.title %></a></h2>
              <div class="entry-meta">
                <span class="meta-part">
                <i class="ico-calendar-alt-fill"></i>
                <a href="#"> <%=post.created_at %> </a>
              </span>
                <span class="meta-part">
                <i class="ico-comments"></i>
                <a href="#">20</a>
              </span> <span class="meta-part">
              <i class="ico-tag"></i>
              <a href="#">Tech</a></span>
                <span class="meta-part">
                <i class="ico-heart"></i>
                <a href="#">7</a>
              </span>
              </div><!-- Entry Meta End-->

              <!-- Post Content Start -->
              <div class="post-content">
                <%= post.content.html_safe %>
              </div><!-- Post Content End -->
            </div><!-- Blog item End -->
          </article>
      <% end %>


      <article>
        <!-- Pagination Start -->
        <ul class="pager">
          <li class="previous">
            <a href="#"><i class="ico-arrow-left"></i>
              Previous</a>
          </li>
          <li style="list-style: none"><span class="active"><a href="#">1</a></span> <span><a href="#">2</a></span> <span><a href="#">3</a></span>
            <span><a href="#">4</a></span> <span><a href="#">5</a></span></li>
          <li class="next">
            <a href="#">Next <i class="ico-arrow-right"></i></a>
          </li>
        </ul><!-- Pagination End -->
      </article><!-- Blog Article End-->
    </div>


<% else %>
    <h3>You haven't write any posts.<%= link_to " Start your first post?", new_user_post_path(@user) %></h3>
<% end %>



