<p>
  <%= f.label :title %><br>
  <%= f.text_field :title %>
</p>

<p>
  <%= f.label :content %><br>
  <%= f.cktext_area :content %>
</p>

<p>
  <%= f.submit :class => 'btn btn-primary'  %>
  <%= link_to "Cancel", user_post_path(@user, @post), :class => 'btn btn-primary btn-cancel'  if params[:action].eql?('edit') %>
  <%= link_to "Cancel", user_posts_path(@user), :class => 'btn btn-primary btn-cancel' if params[:action].eql?('new') %>
</p>

