<p>
  <%= f.label :title %><br>
  <%= f.text_field :title %>
</p>

<p>
  <%= f.label :content %><br>
  <%= f.cktext_area :content %>
</p>

<p>
  <%= f.submit :class => 'btn btn-primary'  %>
  <%= link_to "Cancel", user_post_path(@user, @post), :class => 'btn btn-primary'%>
</p>

