<p>
  <%= f.label :title , class:'post_title'%>
  <%= f.text_field :title %>
</p>

<p>
  <%= f.label :content, class:'post_content' %>
  <%= f.cktext_area :content, ckeditor: { height: 600} %>
</p>

<p>
  <%= f.radio_button :public, 'true' %> Public
  <%= f.radio_button :public, 'false' %> Private<br />
</p>

<p>
  <%= f.submit :class => 'default-btn'  %>
  <%= link_to "Cancel", user_post_path(@user, @post), :class => 'default-btn btn-cancel'  if params[:action].eql?('edit') %>
  <%= link_to "Cancel", user_posts_path(@user), :class => 'default-btn btn-cancel' if params[:action].eql?('new') %>
</p>
<br />
