<div class="col-md-8 single-post" id="content">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ul class="pager">
          <li class="previous">
            <a class="default-btn" href="<%= user_posts_path %>"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Back to the list</a>
          </li>
          <li class="next">
            <a class="default-btn" href="<%= user_post_path %>" data-method="delete"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
          </li>
        </ul>
        <!-- Blog Article Start-->
        <article class="single-post-content">
          <%= form_for @post, url: user_post_path(@user, @post), method: 'PUT'  do |f|%>
              <%= render 'form', f: f %>
          <%end%>
          <%= render partial: 'shared/comments_list'%>
          <%= render partial: 'shared/comment_form' %>
        </article>
      </div>

    </div>
  </div>
</div>
