<p>
<h1><strong> <%= @post.title %></strong></h1>

</p>

 <%= @post.content.html_safe %>


<%= link_to 'Back', user_posts_path , :class => 'btn btn-primary'%> <%= link_to 'Delete', user_post_path, :method => :delete, :class => 'btn btn-primary'%>  <%= link_to 'Edit', edit_user_post_path, :class => 'btn btn-primary'%>