<div>
  <div style="width: 50%;margin: 0 auto;position:relative;background-color:#fff;border:1px solid rgba(0, 0, 0, 0.125);border-radius:0.25rem;min-width:399px;max-width: 499px">
    <div style="text-align: center;font-size: 9px;padding: 0.65rem 0rem;background-color: #3399FF;border-top: 1px solid rgba(0, 0, 0, 0.125);">
      <%=image_tag('blog/profile.jpeg', alt: 'wala-logo', style:"max-height: 3em;vertical-align:middle; float:left;margin-left:20px") %>
      <span style=" vertical-align: middle;font-size: 20px;font-weight: 500;color: #FFFFFF;">重置密码</span>
      <div style=" width:100%;border-bottom: 3px solid #FFFFFF;margin-top:5px"></div>
    </div>
    <div style="padding:1em">

      <table style="border-collapse:separate; border-spacing:5px 20px;font-weight:300;">

        <tr>
          <td colspan="2">
            <b>您好 <%= @resource.email %>,</b>
          </td>
        </tr>
        <tr>
          <td colspan="2" style="font-size:16px">
            有人请求了重置密码链接。您可以通过下面的链接重置您的密码。
          </td>
        </tr>
        <tr>
          <td colspan="2" style="border:1px solid #002d6a;">
            <%= link_to '重置密码', edit_password_url(@resource, reset_password_token: @token) %>
          </td>
        </tr>

        <tr>
          <td colspan="2" style="border:1px solid #002d6a;">
            如果不是您本人操作，请忽略此邮件，您的密码不会被重置。
          </td>
        </tr>
      </table>

    </div>
    <div style="text-align:center;font-size:9px;padding:0.75rem 1.25rem;background-color:#f7f7f9;border-top:1px solid rgba(0, 0, 0, 0.125);">
      This email was sent to <%= @user.email %> by Alexandria © <%= Date.today.year %>.
    </div>
  </div>
</div>