<nav class="white" role="navigation">
  <ul id="user_profile" class="dropdown-content">
    <li><a href="<%= setting_path %>">个人资料</a></li>
    <li class="divider"></li>
    <li> <%= link_to('修改密码',  edit_user_registration_path) %> </li>
    <li> <%= link_to('退出账户', destroy_user_session_path, method: :delete) %> </li>
  </ul>

  <% if user_signed_in? && current_user.shop.present? %>
      <ul id="shop_info" class="dropdown-content">
        <li><a href="<%= shops_my_shop_shop_report_path %>">销售报告</a></li>
        <li><a href="<%= own_shop_user_path(current_user) %>">商品列表</a></li>
        <li class="divider"></li>
        <li><a href="<%= shops_seller_orders_path %>">已接订单 <span class="cart-badges-orders"><%= current_user.shop.new_orders.count > 0 ? current_user.shop.new_orders.count : '' %></span></a></li>
      </ul>
  <% end %>

  <div class="nav-wrapper container">
    <a id="logo-container" href="/" class="brand-logo">
      <div class="session-logo"><img class="header-logo-img" alt="" src="/assets/blog/profile.jpeg"></div>
      WaLa
    </a>


    <% if user_signed_in? %>
        <ul class="right hide-on-med-and-down">
          <li class="collection-item">
            <a href="<%= wish_products_index_path %>">
              <i class="material-icons left">loyalty</i>我的心愿
            </a>
          </li>
          <li class="collection-item">
            <a href="<%= orders_my_orders_path %>">
              <i class="material-icons left">description</i>我的订单
            </a>
          </li>
          <li class="collection-item">
            <a href="<%= carts_cart_items_path %>">
              <i class="material-icons left">shopping_cart</i>购物车 <span class="cart-badges"><%= current_user.cart_items_count%></span>
            </a>
          </li>
          <% if current_user.shop.present? %>
              <li>
                <a class="dropdown-button" href="#!" data-activates="shop_info">我的店铺
                  <span class="cart-badges-orders"><%= current_user.shop.new_orders.count > 0 ? current_user.shop.new_orders.count : '' %></span>
                  <i class="material-icons right">arrow_drop_down</i>
                </a>
              </li>
          <% end %>
          <li>
            <a class="dropdown-button" href="#!" data-activates="user_profile"><%= current_user.name%>
              <i class="material-icons right">arrow_drop_down</i>
            </a>
          </li>
        </ul>
        <ul id="nav-mobile" class="side-nav collection">
          <li class="collection-item">
            <a href="<%= setting_path %>">
              <%= current_user.name%>
            </a>
          </li>
          <% if current_user.shop.present? %>
              <li class="collection-item">
                <a href="<%= own_shop_user_path(current_user) %>">商品列表</a>
              </li>
              <li class="collection-item">
                <a href="<%= shops_seller_orders_path %>">已接订单 <span class="cart-badges-orders"><%= current_user.shop.new_orders.count > 0 ? current_user.shop.new_orders.count : '' %></span></a>
              </li>
          <% end %>
          <li class="collection-item">
            <a href="<%= wish_products_index_path %>">
              <i class="material-icons left">loyalty</i>我的心愿
            </a>
          </li>
          <li class="collection-item">
            <a href="<%= orders_my_orders_path %>">
              <i class="material-icons left">description</i>我的订单
            </a>
          </li>
          <li class="collection-item">
            <a href="<%= carts_cart_items_path %>">
              <i class="material-icons left">shopping_cart</i>购物车 <span class="cart-badges"><%= current_user.cart_items_count%></span>
            </a>
          </li>
        </ul>
    <% else %>
        <ul class="right hide-on-med-and-down">
          <li><a href="<%= new_user_session_path %>">登录</a></li>
        </ul>
        <ul id="nav-mobile" class="side-nav collection">
          <li  class="collection-item"><a href="<%= new_user_session_path %>">登录</a></li>
        </ul>
    <% end %>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>