<div class="col-md-4">
  <div class="sidebar">
    <% if @posts_by_month %>
    <div class="entry-widget">
      <h5 class="widget-title">Archive</h5>
      <ul class="archivee">
        <% @posts_by_month.each do |post|%>
            <li>
              <a href="/<%= @user.slug %>/archive/<%= post.year %>/<%= post.month %>">
                <i class="ico-keyboard_arrow_right"></i>
                <%= post.month %>(<%= post.year %>)(<%= post.posts %>)
              </a>
            </li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <%= render partial: 'layouts/tag_bar' unless %w(foot_print public_transport).include? params[:action] %>

  </div>
</div>