<!DOCTYPE html>
<html ng-app="blogzzz">
<head>
  <title>Wenbo&Lana</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>

  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>

</head>

<body>
  <nav class="white" role="navigation">
    <ul id="user_profile" class="dropdown-content">
      <li><a href="#!">Profile</a></li>
      <li class="divider"></li>
      <li> <%= link_to('Logout', destroy_user_session_path, method: :delete) %> </li>
    </ul>
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">
        <div class="session-logo"><img class="header-logo-img" alt="" src="/assets/blog/profile.jpeg"></div>
        WaLa DaiGou
      </a>


      <% if user_signed_in? %>
          <ul class="right hide-on-med-and-down">
            <li><a href="#">My Shops</a></li>
            <li><a class="dropdown-button" href="#!" data-activates="user_profile"><%= current_user.name%><i class="material-icons right">arrow_drop_down</i></a></li>
          </ul>
          <ul id="nav-mobile" class="side-nav">
            <li><a href="#"><%= current_user.name%></a></li>
          </ul>
      <% else %>
          <ul class="right hide-on-med-and-down">
            <li><a href="<%= new_user_session_path %>">Sign In</a></li>
          </ul>
          <ul id="nav-mobile" class="side-nav">
            <li><a href="<%= new_user_session_path %>">Sign In</a></li>
          </ul>
      <% end %>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>



<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">Speeds up development</h5>

          <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">group</i></h2>
          <h5 class="center">User Experience Focused</h5>

          <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">Easy to work with</h5>

          <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <% yield %>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="/assets/home-background.jpg" alt="Unsplashed background img 3"></div>
</div>

<%= render partial: 'layouts/footer'%>

</body>
</html>