<!DOCTYPE html>
<html ng-app="blogzzz">
<head>
  <title>
    <%= yield(:title) if content_for?(:title) %> &bull; WaLa
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>

  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
</head>

<body>
<%= render partial: 'layouts/nav'%>

<div class="container main-container">
  <%= yield %>
</div>

<%= render partial: 'layouts/footer'%>

</body>
</html>