<!DOCTYPE html>
<html ng-app="blogzzz">
<head>
  <title>BlogZzz</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>

  <meta property="og:type"               content="website" />
  <meta property="og:title"              content="A blog for you to memorize your daily life." />
  <meta property="og:description"        content="Sign up to start your new posts life." />
  <meta property="og:image"              content="http://static01.nyt.com/images/2015/02/19/arts/international/19iht-btnumbers19A/19iht-btnumbers19A-facebookJumbo-v2.jpg" />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@Wenbo199019" />
  <meta name="twitter:creator" content="@Wenbo199019">
  <meta name="twitter:title" content="A blog for you to memorize your daily life." />
  <meta name="twitter:description" content="Sign up to start your new posts life." />
  <meta name="twitter:image" content="http://graphics8.nytimes.com/images/2012/02/19/us/19whitney-span/19whitney-span-articleLarge.jpg">

</head>

<div id="content" >
  <div class="container">
    <div class="row">
      <div class="container session-container session-authentication">
        <div class="position-relative js-header-wrapper ">
          <div class="header header-logged-out width-full pt-5 pb-4" role="banner">
            <div class="container clearfix width-full">
              <a class="header-logo" href="/" aria-label="Homepage" data-ga-click="(Logged out) Header, go to homepage, icon:logo-wordmark">
              </a>
            </div>
          </div>
        </div>
        <div role="main">
          <div id="js-pjax-container" data-pjax-container="">
            <div class="auth-form px-3" id="login">
              <a class="header-logo" href="/" aria-label="Homepage" data-ga-click="(Logged out) Header, go to homepage, icon:logo-wordmark">
                <div class="session-logo"><img class="header-logo-img" alt="" src="/assets/blog/profile.jpeg"></div>
              </a>
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render partial: 'layouts/footer'%>

</body>
</html>
