<!DOCTYPE html>
<html ng-app="blogzzz">
<head>
  <title>账户注册 &bull; Wala</title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <%= csrf_meta_tags %>

</head>
<body>
<div>
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="parent-title">WaLa</h5> <span class="sub-title">用户注册</span>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <%= yield %>
</div>

<%= render partial: 'layouts/sign_footer'%>
</body>
</html>
