<!DOCTYPE html>
<html ng-app="blogzzz">
<head>
  <title>登录 &bull; Wala</title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <%= csrf_meta_tags %>

</head>
<body>
<div>
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5>WaLa</h5>
        <p class="dark-grey-text text-lighten-4">Australia Overseas Shopping Platform</p>
      </div>
    </div>
  </div>
</div>

<div class="login-container">
  <%= yield %>
</div>

<%= render partial: 'layouts/sign_footer'%>

</body>
</html>
